@font-face {
    font-family: 'ABC Diatype Mono Medium';
    src: url('assets/ABCDiatypeMonoEdu-Medium.otf') format('otf');
    font-weight: medium;
}

body {
    background-color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.circle {
    background-color: #807E81;
    width: 100vh;
    height: 100vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-line {
    width: 95vh;
    height: 95vh;
    position: absolute;
}

.horizontal-line {
    width: 95vh;
    height: 95vh;
    position: absolute;
}

.info-box {
    position: absolute;
    top: 50vh;
    left: 50%;
    height: 27.1vh;
    width: auto;
}

.compass-container {
    width: 95vh;
    height: 95vh;
    border-radius: 50%;
    border: 2px dashed black;
    position: relative;
}

.direction {
    background-color: black;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.north {
    top: -1.5vh;
    left: 50%;
    transform: translateX(-50%);
}

.south {
    left: 50%;
    bottom: -1.5vh;
    transform: translateX(-50%);
}

.east {
    top: 50%;
    left: auto;
    right: -1.5vh;
    transform: translateY(-50%);
}

.west {
    top: 50%;
    left: -1.5vh;
    transform: translateY(-50%);
}

.location-icon {
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 5vh;
}

.direction-text {
    position: absolute;
    font-size: 2vh;
    font-weight: bold;
    color: white;
    margin: 0;
    font-family: 'ABC Diatype Mono Medium', monospace;
}